
Day 7/correctanswer.py
Day 11/correct.py
Day 1/input_file.txt
Day 12/file.txt
Day 1/test_input_file.txt
Day 2/input_file.txt
Day 3/input_file.txt
Day 3/test_input_file.txt
Day 4/input_file.txt
Day 4/test_input_file.txt
Day 5/input_file.txt
Day 5/test_input_file.txt
Day 6/input_file.txt
Day 6/test_input_file.txt
Day 7/input_file.txt
Day 7/test_input_file.txt
Day 8/input_file.txt
Day 8/test_input_file.txt
Day 9/input_file.txt
Day 9/test_input_file.txt
Day 10/test_input_file_1.txt
Day 10/input_file.txt
Day 10/test_input_file_2.txt
Day 11/input_file.txt
Day 11/export.txt
Day 11/test_input_1.txt
Day 11/test_input_file.txt